.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: #F7F7F7;
}

.sideBar {
    width: 290px;
    height: 100%;
    background: #1B1C1E;
    display: flex;
    flex-direction: column;
}

.chatContainer {
    position: relative;
    width: calc(100% - 290px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.messageAreaContainer {
    overflow-y: overlay !important;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    height: calc(100% - 110px);
    width: 100%;
    justify-content: center;
}

.messageAreaColumn {
    width: 736px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.bottomBar {
    height: 160px;
    width: 100%;
    background: linear-gradient(180deg, rgba(33,34,37, 0.0), rgba(33,34,37, 0.7));
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

.inputContainer {
    width: 736px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.breadcrumbsContainer {
    padding: 20px 0px 15px 0px;

}

.breadcrumbsContainer span {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    color: white;
    margin-right: 8px;
    cursor: pointer;
}

.breadcrumbsContainer span.active {
    font-weight: bold;
    color: #EE83BD;
}

.inputFieldContainer {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputFieldContainer textarea {
    font-family: Arial, Helvetica, sans-serif !important;
    background: none;
    border: none;
    outline: none;
    color: white;
    resize: none;
    padding-top: 13px;
    padding-right: 30px;
    padding-left: 10px;
}

.inputFieldContainer textarea::placeholder {
    color: #A9A9B7;
    font-family: Arial, Helvetica, sans-serif !important;
}

.logoutBtn {
    cursor: pointer;
    transition: 0.5s;
    color: #bdbdbd;
    margin-top: 16px;
    margin-right: 4px;

    &:hover {
        color: #EE83BD;
    }
}

.clippedDescriptionText {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linkTableRow {
    transition: 0.5s;
    cursor: pointer;
    height: 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0);
    padding: 0px 34px;
}

.linkTableRow:hover {
    background: rgba(234, 234, 234, 0.5);
}