.linearGradientText {
    background: -webkit-linear-gradient(60deg, #4E4294, #EE83BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
    margin-bottom: 0;
}

.backgroundGradient{
    background: -webkit-linear-gradient(270deg, #000000, #3f4146);
}

