.styled-tooltip {
    .tooltip-inner {
      font-size: 12px;
      background-color: #f6f6f6;
      color: black;
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .arrow {
      background-color: transparent;
    }
    .arrow::before {
      border-top-color: rgba(0, 0, 0, 0.125) !important;
    }
    &.permissions-filter-tooltip-right {
      .arrow {
        left: -14px !important;
        top: -2px !important;
        &::before{
          border-right-color: rgba(0, 0, 0, 0.5) !important;
        }
      }
    }
    
    &.right {
      .arrow::before {
        border-right-color: rgba(0, 0, 0, 0.125) !important;
        border-top-color: transparent !important;
      }
    }
    &.bottom {
      .arrow::before {
        border-color: transparent !important;
        border-bottom-color: rgba(0, 0, 0, 0.125) !important;
      }
    }
  }